use guix --ad-hoc nss-certs bash git \
    ruby@2.7 libyaml

# PATHS
export GEM_HOME=$PWD/.gems
export GEM_PATH=$GEM_HOME:$GEM_PATH
export PATH=$GEM_HOME/bin:$PATH

# GUIX ENVIROMENT HACKISH
export RUBY_LOCATION="$(command -v ruby)"
export GUIX_ENVIRONMENT="${RUBY_LOCATION%/bin*}"

# .so FILES
export LD_LIBRARY_PATH="$GUIX_ENVIRONMENT/lib"

# RUBYGEMS AUTH
export SSL_CERT_FILE="$GUIX_ENVIRONMENT/etc/ssl/certs/ca-certificates.crt"
