use guix --container --network \
    --ad-hoc nss-certs bash git \
    ruby@2.7 libyaml

# PATHS
export GEM_HOME=$PWD/.gems
export GEM_PATH=$GEM_HOME:$GEM_PATH
export PATH=$GEM_HOME/bin:$PATH

# PROFILE
export RUBY_FOLDER=$(dirname $(which ruby))
export CURRENT_PROFILE=${RUBY_FOLDER/'/bin'/''}

# .so FILES
export LD_LIBRARY_PATH="$CURRENT_PROFILE/lib"

# RUBYGEMS AUTH
export SSL_CERT_FILE="$CURRENT_PROFILE/etc/ssl/certs/ca-certificates.crt"
